doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(style={"text-align": "center", "text-decoration":"underline"}).mainMessage Welcome to my Message Board!
    h4.description Could you please share information when you started your journey on Odin, how much time you've spent on it weekly and how long it took you to come here to this point? Cheers <3 
    block content
